// Advertencia, esto es un ejemplo; no utiliceis esta clave en particular
DATABASE_URL="mysql://root:root@db:3306/CloudDatabase"
DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_NAME="CloudDatabase"
DATABASE_HOST="db"
DATABASE_PORT=3306